Repository anialsonus/adcm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arenadata/python, @arenadata/python-qa, @arenadata/angular

ADCM-2521 Improved the logic of getting back to a previous page
  web/src/app/abstract-directives/list.directive.ts
Owners: @arenadata/angular

ADCM-3467 - valid fix
  web/src/app/shared/form-elements/field.directive.ts
Owners: @arenadata/angular

ADCM-3466 add test cancel multi state
  tests/functional/test_cancel_action.py
  tests/functional/test_cancel_action_data/cluster_multi_state/config.yaml
  tests/functional/test_cancel_action_data/cluster_multi_state/fail.yaml
  tests/functional/test_cancel_action_data/cluster_multi_state/ok.yaml
  tests/functional/test_cancel_action_data/cluster_multi_state/set_multistate.yaml
  tests/functional/tools.py
Owners: @arenadata/python-qa

fix reset to default btn for secret
  tests/ui_tests/app/page/common/configuration/locators.py
  tests/ui_tests/app/page/common/configuration/page.py
  tests/ui_tests/test_host_page.py
Owners: @arenadata/python-qa

fix test test_visible_params for clear_secret
  tests/ui_tests/test_config_page/test_visible_params.py
Owners: @arenadata/python-qa

ADCM-3466 add to test test_cancel_action tests to check abort jobs with multistate task
  tests/functional/test_cancel_action.py
  tests/functional/test_cancel_action_data/cluster/config.yaml
  tests/functional/test_cancel_action_data/cluster_multi_state/config.yaml
  tests/functional/tools.py
Owners: @arenadata/python-qa

ADCM-3466 Make test more readable
  tests/functional/test_cancel_action.py
Owners: @arenadata/python-qa

ADCM-3467 - fixes and changes for config/group config
  web/src/app/shared/configuration/attributes/attributes/group-keys/group-keys-wrapper.component.ts
  web/src/app/shared/configuration/field/field.component.html
  web/src/app/shared/configuration/field/field.component.ts
  web/src/app/shared/configuration/main/config.component.spec.ts
  web/src/app/shared/configuration/main/config.component.ts
  web/src/app/shared/configuration/main/main.service.ts
  web/src/app/shared/form-elements/dropdown.component.ts
  web/src/app/shared/form-elements/field.directive.ts
  web/src/app/shared/form-elements/map.component.ts
  web/src/app/shared/form-elements/password/password.component.html
  web/src/app/shared/form-elements/secret-text/secret-text.component.ts
Owners: @arenadata/angular

ADCM-3483 use podman instead of docker
  Makefile
  docker-compose.yml
Owners: @arenadata/python

ADCM-2984 add check multistate in test restart_task
  tests/functional/test_restart_task.py
  tests/functional/test_restart_task_data/cluster_multi_state/config.yaml
  tests/functional/test_restart_task_data/cluster_multi_state/fail.yaml
  tests/functional/test_restart_task_data/cluster_multi_state/ok.yaml
  tests/functional/test_restart_task_data/cluster_multi_state/set_multistate.yaml
  tests/functional/tools.py
Owners: @arenadata/python-qa

use method clear_secret for field_type 'password'
  tests/ui_tests/test_config_page/test_visible_params.py
Owners: @arenadata/python-qa

Add CODEOWNERS file
  CODEOWNERS
Owners: @arenadata/python

Add owner for CODEOWNERS file
  CODEOWNERS
Owners: @arenadata/python

.github/CODEOWNERS:

* @arenadata/python
/tests/functional/ @arenadata/python-qa
/tests/ui_tests/ @arenadata/python-qa
/tests/api/ @arenadata/python-qa
/web/ @arenadata/angular
