Repository anialsonus/adcm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arenadata/python, @arenadata/python-qa, @arenadata/angular

.github/CODEOWNERS:

* @arenadata/python
/tests/functional/ @arenadata/python-qa
/tests/ui_tests/ @arenadata/python-qa
/tests/api/ @arenadata/python-qa
/web/ @arenadata/angular

ADCM-3348 First test on MM of service
  tests/ui_tests/app/app.py
  tests/ui_tests/app/checks.py
  tests/ui_tests/app/core.py
  tests/ui_tests/app/page/admin/page.py
  tests/ui_tests/app/page/bundle/page.py
  tests/ui_tests/app/page/bundle_list/page.py
  tests/ui_tests/app/page/cluster/components.py
  tests/ui_tests/app/page/cluster/locators.py
  tests/ui_tests/app/page/cluster/page.py
  tests/ui_tests/app/page/cluster/services.py
  tests/ui_tests/app/page/cluster_list/page.py
  tests/ui_tests/app/page/common/base_page.py
  tests/ui_tests/app/page/common/configuration/page.py
  tests/ui_tests/app/page/common/popups/page.py
  tests/ui_tests/app/page/common/tooltip_links/page.py
  tests/ui_tests/app/page/component/page.py
  tests/ui_tests/app/page/host/page.py
  tests/ui_tests/app/page/host_list/page.py
  tests/ui_tests/app/page/hostprovider_list/page.py
  tests/ui_tests/app/page/job/page.py
  tests/ui_tests/app/page/job_list/page.py
  tests/ui_tests/app/page/login/page.py
  tests/ui_tests/app/page/profile/page.py
  tests/ui_tests/app/page/provider/page.py
  tests/ui_tests/app/page/provider_list/page.py
  tests/ui_tests/app/page/service/page.py
  tests/ui_tests/test_adcm_upgrade.py
  tests/ui_tests/test_admin_page.py
  tests/ui_tests/test_cluster_list_page.py
  tests/ui_tests/test_component_page.py
  tests/ui_tests/test_header_and_footer.py
  tests/ui_tests/test_host_page.py
  tests/ui_tests/test_jobs_page.py
  tests/ui_tests/test_login_page.py
  tests/ui_tests/test_maintenance_mode.py
  tests/ui_tests/test_maintenance_mode_data/actions.yaml
  tests/ui_tests/test_maintenance_mode_data/config.yaml
  tests/ui_tests/test_provider_page.py
  tests/ui_tests/test_service_page.py
Owners: @arenadata/python-qa

ADCM-3348 Fix Header init
  tests/ui_tests/app/core.py
  tests/ui_tests/app/page/common/base_page.py
  tests/ui_tests/test_service_page.py
Owners: @arenadata/python-qa

ADCM-3445 v0.15: refactor load_bundle according to styleguide; save bundle prototypes to BundleDefinition class
  python/adcm/settings.py
  python/cm/bundle.py
  python/cm/stack.py
Owners: @arenadata/python

ADCM-3445 fix docstring; rm _definitions
  python/cm/bundle.py
Owners: @arenadata/python

ADCM-3348 Fix tests
  tests/ui_tests/app/page/cluster/page.py
  tests/ui_tests/test_host_page.py
Owners: @arenadata/python-qa

ADCM-3348 Post-merge linters fix
  tests/ui_tests/app/page/common/tooltip_links/page.py
Owners: @arenadata/python-qa

ADCM-3348 Added tests on component's MM and MM change without HC + adjust tests for the recent logic changes
  tests/library/predicates.py
  tests/library/retry.py
  tests/library/utils.py
  tests/ui_tests/app/page/cluster/page.py
  tests/ui_tests/app/page/common/base_page.py
  tests/ui_tests/test_admin_page.py
  tests/ui_tests/test_cluster_list_page.py
  tests/ui_tests/test_host_page.py
  tests/ui_tests/test_jobs_page.py
  tests/ui_tests/test_maintenance_mode.py
  tests/ui_tests/test_maintenance_mode_data/config.yaml
  tests/ui_tests/test_provider_page.py
  tests/ui_tests/test_service_page.py
Owners: @arenadata/python, @arenadata/python-qa

ADCM-3348 Linters fix
  tests/ui_tests/app/page/common/tooltip_links/page.py
Owners: @arenadata/python-qa

ADCM-3247 Ask for help" button leads to outdated link
  web/src/app/main/top/top.component.html
Owners: @arenadata/angular

ADCM-3445 save actions v0.6
  python/cm/bundle.py
Owners: @arenadata/python

Stage #2 `BaseLocator` -> `core`
  tests/ui_tests/app/helpers/locator.py
  tests/ui_tests/app/page/admin/locators.py
  tests/ui_tests/app/page/admin/page.py
  tests/ui_tests/app/page/bundle/locators.py
  tests/ui_tests/app/page/bundle_list/locators.py
  tests/ui_tests/app/page/cluster/locators.py
  tests/ui_tests/app/page/cluster_list/locators.py
  tests/ui_tests/app/page/common/base_page.py
  tests/ui_tests/app/page/common/common_locators.py
  tests/ui_tests/app/page/common/configuration/locators.py
  tests/ui_tests/app/page/common/dialogs/locators.py
  tests/ui_tests/app/page/common/footer_locators.py
  tests/ui_tests/app/page/common/group_config/locators.py
  tests/ui_tests/app/page/common/group_config_list/locators.py
  tests/ui_tests/app/page/common/header_locators.py
  tests/ui_tests/app/page/common/host_components/locators.py
  tests/ui_tests/app/page/common/import_page/locators.py
  tests/ui_tests/app/page/common/popups/locator.py
  tests/ui_tests/app/page/common/popups/page.py
  tests/ui_tests/app/page/common/status/locators.py
  tests/ui_tests/app/page/common/status/page.py
  tests/ui_tests/app/page/common/table/locator.py
  tests/ui_tests/app/page/common/tooltip_links/locator.py
  tests/ui_tests/app/page/component/locators.py
  tests/ui_tests/app/page/host/locators.py
  tests/ui_tests/app/page/host/page.py
  tests/ui_tests/app/page/host_list/locators.py
  tests/ui_tests/app/page/host_list/page.py
  tests/ui_tests/app/page/job/locators.py
  tests/ui_tests/app/page/job/page.py
  tests/ui_tests/app/page/job_list/locators.py
  tests/ui_tests/app/page/job_list/page.py
  tests/ui_tests/app/page/login/locators.py
  tests/ui_tests/app/page/profile/locators.py
  tests/ui_tests/app/page/provider_list/locators.py
  tests/ui_tests/app/page/service/locators.py
  tests/ui_tests/core/checks.py
  tests/ui_tests/core/interactors.py
  tests/ui_tests/core/locators.py
  tests/ui_tests/core/types.py
Owners: @arenadata/python-qa

Stage #3 Minor Dialogs refactoring + Common Table converted to Interactor
  tests/ui_tests/app/__init__.py
  tests/ui_tests/app/app.py
  tests/ui_tests/app/helpers/__init__.py
  tests/ui_tests/app/page/admin/page.py
  tests/ui_tests/app/page/bundle_list/page.py
  tests/ui_tests/app/page/cluster/page.py
  tests/ui_tests/app/page/cluster_list/page.py
  tests/ui_tests/app/page/common/base_page.py
  tests/ui_tests/app/page/common/common_locators.py
  tests/ui_tests/app/page/common/dialogs/locators.py
  tests/ui_tests/app/page/common/dialogs/operation_changes.py
  tests/ui_tests/app/page/common/dialogs/rename.py
  tests/ui_tests/app/page/common/table/locator.py
  tests/ui_tests/app/page/common/table/page.py
  tests/ui_tests/app/page/component/page.py
  tests/ui_tests/app/page/host_list/page.py
  tests/ui_tests/app/page/job_list/page.py
  tests/ui_tests/app/page/provider/page.py
  tests/ui_tests/app/page/provider_list/page.py
  tests/ui_tests/app/page/service/page.py
  tests/ui_tests/audit/test_operations_page.py
  tests/ui_tests/core/checks.py
  tests/ui_tests/core/elements.py
  tests/ui_tests/core/locators.py
  tests/ui_tests/generator_helper/__init__.py
  tests/ui_tests/generator_helper/config_generator_invisible_fields.py
  tests/ui_tests/generator_helper/config_generator_mixed_options.py
  tests/ui_tests/generator_helper/config_generator_numbers.py
  tests/ui_tests/generator_helper/configs_generator.py
  tests/ui_tests/test_admin_page.py
  tests/ui_tests/test_bundle_list_page.py
  tests/ui_tests/test_cluster_list_page.py
  tests/ui_tests/test_component_page.py
  tests/ui_tests/test_config_page/test_invisible_params.py
  tests/ui_tests/test_config_page/test_visible_params.py
  tests/ui_tests/test_host_page.py
  tests/ui_tests/test_jobs_page.py
  tests/ui_tests/test_provider_page.py
  tests/ui_tests/test_service_page.py
Owners: @arenadata/python-qa

Stage #4 Extraction of "Host create popup" to `HostCreateDialog`
  tests/ui_tests/app/page/admin/page.py
  tests/ui_tests/app/page/cluster/page.py
  tests/ui_tests/app/page/cluster_list/page.py
  tests/ui_tests/app/page/common/__init__.py
  tests/ui_tests/app/page/common/base_page.py
  tests/ui_tests/app/page/common/dialogs/__init__.py
  tests/ui_tests/app/page/common/dialogs/create_host.py
  tests/ui_tests/app/page/common/dialogs/create_host_locators.py
  tests/ui_tests/app/page/common/host_components/page.py
  tests/ui_tests/app/page/host_list/page.py
  tests/ui_tests/app/page/provider_list/page.py
  tests/ui_tests/core/interactors.py
  tests/ui_tests/test_bundle_list_page.py
  tests/ui_tests/test_cluster_list_page.py
  tests/ui_tests/test_host_page.py
Owners: @arenadata/python-qa

ADCM-2521 Deleting last item from second and more page shows empty list
  web/src/app/abstract-directives/list.directive.ts
Owners: @arenadata/angular

ADCM-2521 dev review fix
  web/src/app/abstract-directives/list.directive.ts
Owners: @arenadata/angular

ADCM-3445 save subactions
  python/cm/bundle.py
Owners: @arenadata/python

ADCM-3445 move bundle definition to separate file
  python/cm/bundle.py
  python/cm/bundle_definition.py
Owners: @arenadata/python

ADCM-3445 license
  python/cm/bundle_definition.py
Owners: @arenadata/python

Test pipeline
  README.md
Owners: @arenadata/python

ADCM-3446 make revert upgrade mechanism
  python/cm/adcm_schema.yaml
  python/cm/job.py
  python/cm/migrations/0101_auto_20221213_0622.py
  python/cm/models.py
  python/cm/stack.py
  python/cm/tests/test_upgrade.py
  python/cm/upgrade.py
  python/job_runner.py
Owners: @arenadata/python

Review fixes
  python/cm/migrations/0101_auto_20221213_0622.py
  python/cm/stack.py
  python/cm/upgrade.py
Owners: @arenadata/python

Add empty lines to improve readability
  python/cm/tests/test_upgrade.py
  python/cm/upgrade.py
Owners: @arenadata/python

ADCM-2521 Fixed redirects to previous page on all pages
  web/src/app/abstract-directives/list.directive.ts
Owners: @arenadata/angular

ADCM-3445 big refactor: pydantic; move objects' creation to models; fix some bugs
  python/cm/bundle.py
  python/cm/bundle_definition.py
  requirements.txt
Owners: @arenadata/python

Add empty lines to improve readability
  python/cm/upgrade.py
  python/job_runner.py
Owners: @arenadata/python

Add empty lines to improve readability
  python/job_runner.py
Owners: @arenadata/python

ADCM-3445 small improvements of action saving
  python/cm/bundle.py
  python/cm/bundle_definition.py
Owners: @arenadata/python

ADCM-3467 - [UI] Change secret config parameter type behaviour
  web/src/app/shared/configuration/field/field.component.html
  web/src/app/shared/configuration/field/field.component.ts
  web/src/app/shared/form-elements/password/password.component.html
  web/src/app/shared/form-elements/password/password.component.ts
Owners: @arenadata/angular

ADCM-3467 - refresh button fix
  web/src/app/shared/configuration/field/field.component.html
  web/src/app/shared/configuration/field/field.component.scss
Owners: @arenadata/angular

ADCM-3445 save upgrade
  python/cm/bundle_definition.py
Owners: @arenadata/python

Fix config
  python/cm/upgrade.py
Owners: @arenadata/python

ADCM-3467 - fix
  web/src/app/shared/configuration/field/field.component.scss
  web/src/app/shared/form-elements/password/password.component.ts
Owners: @arenadata/angular

ADCM-3445 refactor saving upgrade action [draft]
  python/cm/bundle_definition.py
Owners: @arenadata/python

ADCM-3247 Fixed link to the chat in the test
  tests/ui_tests/test_header_and_footer.py
Owners: @arenadata/python-qa

ADCM-3467 - password & secrettext remove value fix
  web/src/app/shared/configuration/field/field.component.html
  web/src/app/shared/configuration/field/field.component.scss
  web/src/app/shared/configuration/field/field.component.ts
  web/src/app/shared/form-elements/password/password.component.ts
  web/src/app/shared/form-elements/secret-text/secret-text.component.ts
Owners: @arenadata/angular

ADCM-3445 save components' protos
  python/cm/bundle_definition.py
Owners: @arenadata/python

Policies Page refactoring stage #1
  tests/ui_tests/app/page/admin/locators.py
  tests/ui_tests/app/page/admin/page.py
  tests/ui_tests/app/page/common/dialogs/policy.py
  tests/ui_tests/test_admin_page.py
Owners: @arenadata/python-qa

ADCM-3445 very questionable fixes for unittests' bundles
  python/cm/bundle_definition.py
Owners: @arenadata/python

ADCM-2984 add test test_restart_task
  tests/functional/test_restart_task.py
  tests/functional/test_restart_task_data/cluster/config.yaml
  tests/functional/test_restart_task_data/cluster/failed.yaml
  tests/functional/test_restart_task_data/cluster/sleep.yaml
Owners: @arenadata/python-qa

ADCM-3467 - fixes
  web/src/app/shared/configuration/attributes/attributes/group-keys/group-keys-wrapper.component.ts
  web/src/app/shared/configuration/field/field.component.html
  web/src/app/shared/configuration/field/field.component.ts
Owners: @arenadata/angular
